/* Existing styles */
#mainheading {
    background-color: #333;
    color: wheat;
    font-size: 3rem;
    text-align: center;
    font-family: Lucida Handwriting;
    transition: opacity 1s ease;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 600px;
}

.carousel img {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel img.active {
    opacity: 1;
}

#prevArrow,
#nextArrow {
    position: absolute;
    background-color: black;
    color: wheat;
    top: 70%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
    border-radius: 50%;
}

#prevArrow {
    left: 10px;
}

#nextArrow {
    right: 10px;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
    .carousel {
        height: 400px;
    }

    #prevArrow,
    #nextArrow {
        font-size: 20px;
        padding: 8px;
        top: 50%;
    }
}

@media only screen and (max-width: 576px) {
    .carousel {
        height: 300px;
    }

    #prevArrow,
    #nextArrow {
        font-size: 16px;
        padding: 6px;
        top: 40%;
    }
}
